@inject NavigationManager uriHelper
<EditForm Model="@mercancia" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Nombre mercancia</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="mercancia.Nombre" placeholder="Nombre" />
        </div>
        <ValidationMessage For="@(() => mercancia.Nombre)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Código</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="mercancia.Codigo" placeholder="Código" />
        </div>
        <ValidationMessage For="@(() => mercancia.Codigo)" />
    </div>
    <div class="mb-3">
        <label class="form-label">UM</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="mercancia.Um" placeholder="UM" />
        </div>
        <ValidationMessage For="@(() => mercancia.Um)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Clasificacion</label>       
        <div class="col-md-4">
            <InputSelect class="form-control"@bind-Value="mercancia.Clasificacion.Id">
            <option value="0">Selecciona una clasificación</option>
                @foreach (var item in clasificaciones)
                {
                    @if (item.Id == mercancia.Clasificacion.Id)
                    {
                        <option selected value="@item.Id">@item.Nombre</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => mercancia.Clasificacion.Id)" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <div class="col-md-4">
            <InputTextArea class="form-control" @bind-Value="mercancia.Descripcion" style="height:150px" placeholder="Descripción" />
        </div>
        <ValidationMessage For="@(() => mercancia.Descripcion)" />
    </div>
    <button type="submit" class="btn btn-primary">
        @ButtonText
    </button>
    <button class="btn btn-light" @onclick="Cancel">Cancelar</button>
</EditForm>
@code {
    [Parameter] public Mercancia mercancia { get; set; }
    [Parameter] public List<Clasificacion> clasificaciones { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Guardar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    public void Cancel()
    {
        uriHelper.NavigateTo("mercancias");
    }
}
